# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
my-app/node_modules
my-app/.pnp
my-app/.pnp.js
my-app/package-lock.json
my-app/yarn.lock

# testing
my-app/coverage

# production
my-app/build

# misc
.DS_Store
my-app/.env.local
my-app/.env.development.local
my-app/.env.test.local
my-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

my-app/README.md
